main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    color: white;
    padding-top: 10px;
}

.main_info {
    width: 100%;
    max-width: 570px;
}

.main_info p {
    font-size: 18px;
    margin: 20px 0 28px;
}

.main_info div {
    display: flex;
    column-gap: 8px;
}

.main_info div a, .main_info div button {
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3;
    transform: skew(-10deg);
    cursor: pointer;
}

.main_info div a {
    background: red;
}

.main_info div button {
    background: transparent;
    border: 1px solid green;
}


@media (max-width: 830px) {
    main {
        flex-direction: column;
    }

    .main_info {
        margin: 60px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_info div a, .main_info div button{
        width: 185px;
        font-size: 14px;

    }

    .luigi-mario {
        width: 400px;
    }

}