main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
}

.main_wallpaper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.grid_item img {
    width: 400px;
    height: 250px;
    cursor: pointer;
}

.grid_item img:hover { 
    transform: scale(1.03);
}